.h-screen {
  height: 100vh;
}

table { 
  border-collapse: inherit;
  /* border: 1px solid black;  */
  /* border-radius: 8px; */
  margin-left: auto; 
  margin-right: auto; 
  box-shadow: 0px 0px 5px 0px white;
} 

tbody {
  display: block;
  padding: 12px;
}

input[type="button"] { 
  width: 100%; 
  padding: 20px 40px; 
  background-color: #515151; 
  color: white; 
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 24px; 
} 

input[type="button"]:hover { 
  background-color: #515151;
  box-shadow: inset 0px 0px 8px 0px #808080;
} 

input[type="text"] { 
  padding: 20px 18px; 
  font-size: 24px; 
  font-weight: bold; 
  border: none; 
  border-radius: 5px; 
  border: 2px solid black; 
  width: 100%;
} 